div{
    display: grid;
    font-style: italic;
    background-color: skyblue;
}
.midashi{
    background-color: #b8e0ff;
}
.special{
    font-weight: bold;
}
civ{
    display: grid;
    background-color: #d4edff;
}
div#result{
    display: grid;
    background-color: #d4edff;
}