div{
    display: grid;
    width: 500px;
    background-color: #ffefaf;
}
biv{
    display: grid;
    background-color: #fff6d2;
}
h2{
    background-color: #faff6b;
    width: 500px;
}
h3{
    background-color: #ffd930;
    width: 500px;
}
li{
    color: blue;
}
a:link {
    color: blue;
}
a:visited {
    color: purple;
}
a:hover {
    text-decoration: none;
}